---
# yamllint disable rule:line-length
name: chainsaw-test

on:
  workflow_call:
    inputs:
      test_path:
        required: true
        type: string
      chainsaw_config:
        required: true
        type: string
      git_ref:
        required: true
        type: string
      kind_config:
        required: true
        type: string
      mise_ignore_cfg:
        required: false
        type: string
        default: ""
      mise_log_level:
        required: false
        type: string
        default: "warn"
      timeout:
        required: false
        type: number
        default: 15

env:
  # renovate: datasource=github-releases depName=kyverno/chainsaw
  CHAINSAW_VERSION: "v0.2.14"
  # renovate: datasource=github-releases depName=fluxcd/flux2
  FLUX_VERSION: "v2.7.5"
  # renovate: datasource=github-releases depName=kubernetes-sigs/kind
  KIND_VERSION: "0.30.0"
  # renovate: datasource=github-releases depName=kubernetes/kubectl
  KUBERNETES_VERSION: "v1.33.5"

jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: ${{ inputs.timeout }}
    steps:
    - name: Setup repository and tools
      uses: ppat/homelab-ops-actions/actions/setup-repository-tools@4cef70063350f88a21483c0b7b8b6c5c41eedd3e # v1.0.3
      with:
        current_git_ref: ${{ inputs.git_ref }}
        current_repository: ${{ github.repository }}
        mise_ignore_cfg: ${{ inputs.mise_ignore_cfg }}
        mise_log_level: ${{ inputs.mise_log_level }}
        # renovate: datasource=github-releases depName=jdx/mise
        mise_version: "v2025.12.2"
        token: ${{ secrets.GITHUB_TOKEN }}
        mise_toml: |
          [tools]
          flux2                   = "${{ env.FLUX_VERSION }}"
          kind                    = "${{ env.KIND_VERSION }}"
          kubectl                 = "${{ env.KUBERNETES_VERSION }}"
          "aqua:kyverno/chainsaw" = "${{ env.CHAINSAW_VERSION }}"

    - name: Setup kind cluster
      env:
        CLUSTER_NAME: dev
        # renovate-kind-image: datasource=docker versioning=docker
        CLUSTER_NODE_IMAGE: "kindest/node:v1.34.2@sha256:745f8ed46d8e99517774768227fd1a0af34a6bf395aef9c7ed98fbce0e263918"
        CONFIG: ${{ inputs.kind_config }}
        WAIT: 60s
      shell: bash
      working-directory: ./current
      # yamllint disable-line rule:indentation
      run: |
        echo 'Creating kind cluster...'
        kind create cluster \
          --name=${CLUSTER_NAME} \
          --wait=${WAIT} \
          --image=${CLUSTER_NODE_IMAGE} \
          --config=${CONFIG}
        kubectl version

    - name: Install flux in kind cluster
      shell: bash
      run: |
        flux install --version ${FLUX_VERSION} --log-level debug
        flux version

    - name: Run Chainsaw Tests
      env:
        GIT_URL: https://github.com/${{ github.repository }}.git
        GIT_REF: ${{ inputs.git_ref }}
        CHAINSAW_CONFIG: ${{ inputs.chainsaw_config }}
        TEST_PATH: ${{ inputs.test_path }}
      shell: bash
      working-directory: ./current
      # yamllint disable-line rule:indentation
      run: |
        if [[ "${GIT_REF}" == "refs/heads/main" ]]; then
          GIT_BRANCH="main"
        else
          GIT_BRANCH="${GIT_REF}"
        fi

        cat > /tmp/values-ci.yaml <<EOF
        git:
          url: '${GIT_URL}'
          branch: '${GIT_BRANCH}'
        EOF

        cat /tmp/values-ci.yaml

        # Run tests with combined values
        set -x
        chainsaw test ${TEST_PATH} \
          --config ${CHAINSAW_CONFIG} \
          --values /tmp/values-ci.yaml \
          --fail-fast
