---
# yamllint disable rule:line-length
name: detect-changed-files

on:
  workflow_call:
    inputs:
      fetch_depth:
        required: false
        type: number
        default: 0
      files:
        required: false
        type: string
        default: ''
      files_yaml:
        required: false
        type: string
        default: ''
      dir_names:
        required: false
        type: boolean
      dir_names_max_depth:
        required: false
        type: string
        default: ''
      dir_names_exclude_current_dir:
        required: false
        type: boolean
      matrix:
        required: false
        type: boolean
      git_ref:
        required: true
        type: string
      timeout:
        required: false
        type: number
        default: 5
    outputs:
      results:
        value: ${{ jobs.detect-changed-files.outputs.results }}

jobs:
  detect-changed-files:
    outputs:
      results: ${{ toJSON(steps.changed-files.outputs) }}
    runs-on: ubuntu-24.04
    timeout-minutes: ${{ inputs.timeout }}
    steps:
    - name: Checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      with:
        repository: ${{ github.repository }}
        ref: ${{ inputs.git_ref }}
        fetch-depth: ${{ inputs.fetch_depth }}
        persist-credentials: false

    - name: Determine what has changed
      id: changed-files
      uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
      with:
        fetch_depth: ${{ inputs.fetch_depth }}
        files: ${{ inputs.files }}
        files_yaml: ${{ inputs.files_yaml }}
        dir_names: ${{ inputs.dir_names }}
        dir_names_max_depth: ${{ inputs.dir_names_max_depth }}
        dir_names_exclude_current_dir: ${{ inputs.dir_names_exclude_current_dir }}
        matrix: ${{ inputs.matrix }}
