---
# yamllint disable rule:line-length
name: renovate-config-check

on:
  workflow_call:
    inputs:
      git_ref:
        required: true
        type: string
      files:
        required: false
        type: string
        default: 'ALL'
      mise_ignore_cfg:
        required: false
        type: string
        default: ""
      mise_log_level:
        required: false
        type: string
        default: "warn"

env:
  # renovate: datasource=npm depName=bun
  BUN_VERSION: "1.3.6"
  # renovate: datasource=node-version
  NODE_VERSION: "24.11.1"
  # renovate: datasource=github-releases depName=renovatebot/renovate
  RENOVATE_VERSION: "42.83.1"

jobs:
  renovate-config-check:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
    - name: Setup repository and tools
      uses: ppat/homelab-ops-actions/actions/setup-repository-tools@4cef70063350f88a21483c0b7b8b6c5c41eedd3e # v1.0.3
      with:
        current_git_ref: ${{ inputs.git_ref }}
        current_repository: ${{ github.repository }}
        mise_ignore_cfg: ${{ inputs.mise_ignore_cfg }}
        mise_log_level: ${{ inputs.mise_log_level }}
        token: ${{ secrets.GITHUB_TOKEN }}
        mise_toml: |
          [tools]
          bun               = "${{ env.BUN_VERSION }}"
          node              = "${{ env.NODE_VERSION }}"
          "npm:renovate"    = "${{ env.RENOVATE_VERSION }}"
          [settings.npm]
          bun               = true

    - name: Validate renovate config files
      env:
        RENOVATE_CONFIG_FILES: ${{ inputs.files }}
      shell: bash
      working-directory: ./current
      # yamllint disable-line rule:indentation
      run: |
        if [[ "${RENOVATE_CONFIG_FILES}" == "ALL" ]]; then
          echo "Validating main configuration..."
          echo ".github/renovate.json:"
          renovate-config-validator .github/renovate.json | pr -t -o 4
          echo "Validating all 'extends' configuration files..."
          for rc in $(find .github/renovate -type f -name '*.json' | sort); do
            echo "${rc}:"
            renovate-config-validator ${rc} | pr -t -o 4
          done
        else
          echo "Validating changed configuration files..."
          for rc in ${RENOVATE_CONFIG_FILES}; do
            echo "${rc}:"
            renovate-config-validator ${rc} | pr -t -o 4
          done
        fi
