---
# yamllint disable rule:line-length
name: pre-commit

on:
  workflow_call:
    inputs:
      git_ref:
        required: true
        type: string
      mise_ignore_cfg:
        required: false
        type: string
        default: ""
      mise_log_level:
        required: false
        type: string
        default: "warn"

env:
  # renovate: datasource=github-releases depName=pre-commit/pre-commit
  PRECOMMIT_VERSION: "v4.5.1"
  # renovate: datasource=github-releases depName=astral-sh/uv
  UV_VERSION: "0.9.21"

jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
    - name: Setup repository and tools
      uses: ppat/homelab-ops-actions/actions/setup-repository-tools@4cef70063350f88a21483c0b7b8b6c5c41eedd3e # v1.0.3
      with:
        current_git_ref: ${{ inputs.git_ref }}
        current_repository: ${{ github.repository }}
        extra_cache_path: ~/.cache/pre-commit/
        extra_cache_key: pre-commit
        mise_ignore_cfg: ${{ inputs.mise_ignore_cfg }}
        mise_log_level: ${{ inputs.mise_log_level }}
        token: ${{ secrets.GITHUB_TOKEN }}
        mise_toml: |
          [tools]
          pre-commit  = "${{ env.PRECOMMIT_VERSION }}"
          uv          = "${{ env.UV_VERSION }}"
          [settings.pipx]
          uvx         = true

    - name: Install pre-commit hooks
      working-directory: ./current
      run: pre-commit install --install-hooks --hook-type pre-commit

    - name: check-added-large-files
      if: success() || failure()
      working-directory: ./current
      run: pre-commit run --all-files --color=always check-added-large-files

    - name: check-executables-have-shebangs
      if: success() || failure()
      working-directory: ./current
      run: pre-commit run --all-files --color=always check-executables-have-shebangs

    - name: check-json
      if: success() || failure()
      working-directory: ./current
      run: pre-commit run --all-files --color=always check-json

    - name: detect-private-key
      if: success() || failure()
      working-directory: ./current
      run: pre-commit run --all-files --color=always detect-private-key

    - name: end-of-file-fixer
      if: success() || failure()
      working-directory: ./current
      run: pre-commit run --all-files --color=always end-of-file-fixer

    - name: forbid-new-submodules
      if: success() || failure()
      working-directory: ./current
      run: pre-commit run --all-files --color=always forbid-new-submodules

    - name: mixed-line-ending
      if: success() || failure()
      working-directory: ./current
      run: pre-commit run --all-files --color=always mixed-line-ending

    - name: trailing-whitespace
      if: success() || failure()
      working-directory: ./current
      run: pre-commit run --all-files --color=always trailing-whitespace
