---
# yamllint disable rule:line-length
name: commit-messages

on:
  workflow_call:
    inputs:
      git_ref:
        required: true
        type: string
      fetch_depth:
        required: true
        type: number
      from:
        required: true
        type: string
      to:
        required: true
        type: string
      mise_ignore_cfg:
        required: false
        type: string
        default: ""
      mise_log_level:
        required: false
        type: string
        default: "warn"

env:
  # renovate: datasource=npm depName=bun
  BUN_VERSION: "1.3.9"
  # renovate: datasource=node-version
  NODE_VERSION: "24.11.1"

jobs:
  commit-messages:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
    - name: Set fetch depth
      env:
        DEPTH: ${{ inputs.fetch_depth }}
      shell: bash
      # yamllint disable-line rule:indentation
      run: |
        echo "FETCH_DEPTH=$((DEPTH + 1))" >> $GITHUB_ENV

    - name: Setup repository and tools
      uses: ppat/homelab-ops-actions/actions/setup-repository-tools@4cef70063350f88a21483c0b7b8b6c5c41eedd3e # v1.0.3
      with:
        current_fetch_depth: ${{ env.FETCH_DEPTH }}
        current_git_ref: ${{ inputs.git_ref }}
        current_repository: ${{ github.repository }}
        mise_ignore_cfg: ${{ inputs.mise_ignore_cfg }}
        mise_log_level: ${{ inputs.mise_log_level }}
        token: ${{ secrets.GITHUB_TOKEN }}
        mise_toml: |
          [tools]
          bun               = "${{ env.BUN_VERSION }}"
          node              = "${{ env.NODE_VERSION }}"
          [settings.npm]
          bun               = true

    - name: Checkout github-workflows
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      with:
        fetch-depth: 1
        path: tools
        repository: ppat/github-workflows
        ref: ${{ github.repository == 'ppat/github-workflows' && inputs.git_ref || 'main' }}
        persist-credentials: false

    - name: Install node packages
      shell: bash
      working-directory: ./current
      # yamllint disable-line rule:indentation
      run: |
        if [[ ! -e bun.lock ]]; then
          cp $GITHUB_WORKSPACE/tools/package.json .
          cp $GITHUB_WORKSPACE/tools/bun.lock .
        fi
        bun install --frozen-lockfile

    - name: Lint commit messages
      shell: bash
      working-directory: ./current
      # yamllint disable-line rule:indentation
      run: |
        set -x
        bunx commitlint --color --from ${{ inputs.from }} --to ${{ inputs.to }} --verbose
