---
# yamllint disable rule:line-length
name: release-semantic

on:
  workflow_call:
    inputs:
      dry_run:
        required: false
        type: boolean
      mise_ignore_cfg:
        required: false
        type: string
        default: ""
      mise_log_level:
        required: false
        type: string
        default: "warn"
      release_branch:
        required: false
        type: string
        default: "main"
    secrets:
      app_id:
        required: true
      app_private_key:
        required: true
    outputs:
      released_sha:
        value: ${{ jobs.semantic-release.outputs.released_sha }}
      released_version:
        value: ${{ jobs.semantic-release.outputs.released_version }}
      released_gitref:
        value: ${{ jobs.semantic-release.outputs.released_gitref }}

env:
  # renovate: datasource=npm depName=bun
  BUN_VERSION: "1.3.9"
  # renovate: datasource=node-version
  NODE_VERSION: "24.11.1"

jobs:
  semantic-release:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    outputs:
      released_sha: ${{ steps.release_info.outputs.sha }}
      released_version: ${{ steps.release_info.outputs.version }}
      released_gitref: ${{ steps.release_info.outputs.gitref }}
    steps:
    - name: Generate github app token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
      id: app-token
      with:
        app-id: ${{ secrets.app_id }}
        private-key: ${{ secrets.app_private_key }}
        owner: ${{ github.repository_owner }}

    - name: Setup repository and tools
      uses: ppat/homelab-ops-actions/actions/setup-repository-tools@4cef70063350f88a21483c0b7b8b6c5c41eedd3e # v1.0.3
      with:
        current_fetch_depth: 0
        current_git_ref: ${{ inputs.release_branch }}
        current_persist_credentials: true
        current_repository: ${{ github.repository }}
        mise_ignore_cfg: ${{ inputs.mise_ignore_cfg }}
        mise_log_level: ${{ inputs.mise_log_level }}
        token: ${{ steps.app-token.outputs.token }}
        mise_toml: |
          [tools]
          bun               = "${{ env.BUN_VERSION }}"
          node              = "${{ env.NODE_VERSION }}"
          [settings.npm]
          bun               = true

    - name: Checkout github-workflows
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        fetch-depth: 1
        path: tools
        repository: ppat/github-workflows
        ref: ${{ github.repository == 'ppat/github-workflows' && inputs.release_branch || 'main' }}
        persist-credentials: false

    - name: Install node packages
      shell: bash
      working-directory: ./current
      # yamllint disable-line rule:indentation
      run: |
        if [[ ! -e bun.lock ]]; then
          cp $GITHUB_WORKSPACE/tools/package.json .
          cp $GITHUB_WORKSPACE/tools/bun.lock .
        fi
        bun install --frozen-lockfile

    - name: Release (Dry Run)
      if: ${{ (github.event_name == 'pull_request') || inputs.dry_run }}
      env:
        GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        CURRENT_BRANCH: ${{ inputs.release_branch }}
      shell: bash
      working-directory: ./current
      run: |
        echo
        GITHUB_REF=$CURRENT_BRANCH
        set -x
        bunx semantic-release --dry-run --no-ci --branches $CURRENT_BRANCH

    - name: Release
      if: ${{ (github.event_name == 'workflow_dispatch') && (!inputs.dry_run) }}
      env:
        GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
      shell: bash
      working-directory: ./current
      run: bunx semantic-release

    - name: Output release info
      id: release_info
      env:
        TRIGGER_EVENT: ${{ github.event_name }}
        CURRENT_BRANCH: ${{ inputs.release_branch }}
      shell: bash
      working-directory: ./current
      # yamllint disable-line rule:indentation
      run: |
        if [[ "${TRIGGER_EVENT}" == "workflow_dispatch" && -f /tmp/released.version ]]; then
          # an actual release has been triggered.
          echo "version=v$(cat /tmp/released.version)" >> "$GITHUB_OUTPUT"
          echo "gitref=refs/tags/v$(cat /tmp/released.version)" >> "$GITHUB_OUTPUT"
        else
          # a dry-run has been triggered.
          echo "version=v0.0.0" >> "$GITHUB_OUTPUT"
          echo "gitref=refs/heads/$CURRENT_BRANCH" >> "$GITHUB_OUTPUT"
        fi
        echo "sha=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"
