---
# yamllint disable rule:line-length
name: renovate

on:
  workflow_call:
    inputs:
      dry_run:
        required: false
        type: boolean
      git_ref:
        required: true
        type: string
      log_level:
        required: false
        type: string
        default: info
      timeout:
        required: false
        type: number
        default: 10
    secrets:
      app_id:
        required: true
      app_private_key:
        required: true
      dockerhub_username:
        required: true
      dockerhub_token:
        required: true

jobs:
  renovate:
    runs-on: ubuntu-24.04
    timeout-minutes: ${{ inputs.timeout }}
    steps:
    - name: Generate github app token for renovate
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
      id: app-token
      with:
        app-id: ${{ secrets.app_id }}
        private-key: ${{ secrets.app_private_key }}
        owner: ${{ github.repository_owner }}

    - name: Checkout repository
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      with:
        persist-credentials: false
        repository: ${{ github.repository }}
        ref: ${{ inputs.git_ref }}
        token: "${{ steps.app-token.outputs.token }}"

    - name: Renovate
      uses: renovatebot/github-action@822441559e94f98b67b82d97ab89fe3003b0a247 # v44.2.0
      with:
        token: ${{ steps.app-token.outputs.token }}
        # renovate: datasource=github-releases depName=renovatebot/renovate
        renovate-version: "42.66.8"
      env:
        LOG_LEVEL: ${{ inputs.log_level }}
        RENOVATE_DRY_RUN: "${{ inputs.dry_run && 'extract' || '' }}"
        RENOVATE_GIT_IGNORED_AUTHORS: "182250461+homelab-workflows-bot[bot]@users.noreply.github.com"
        # yamllint disable-line rule:indentation
        RENOVATE_HOST_RULES: >-
          [
            {
              "hostType": "docker",
              "username": "${{ secrets.dockerhub_username }}",
              "password": "${{ secrets.dockerhub_token }}"
            },
            {
              "hostType": "docker",
              "matchHost": "ghcr.io",
              "username": "${{ github.repository_owner }}",
              "password": "${{ steps.app-token.outputs.token }}"
            }
          ]
        RENOVATE_PLATFORM: 'github'
        RENOVATE_PLATFORM_COMMIT: 'true'
        RENOVATE_REPOSITORIES: "${{ github.repository }}"
        RENOVATE_REQUIRE_CONFIG: 'required'
        GIT_AUTHOR_NAME: ""
        GIT_AUTHOR_EMAIL: ""
        GIT_COMMITTER_NAME: ""
        GIT_COMMITTER_EMAIL: ""
