---
# yamllint disable rule:line-length
name: update-aqua-checksums

on:
  workflow_call:
    inputs:
      aqua_dirs:
        required: true
        type: string
      git_ref:
        required: true
        type: string
      mise_ignore_cfg:
        required: false
        type: string
        default: ""
      mise_log_level:
        required: false
        type: string
        default: "warn"
      prune:
        required: false
        type: boolean
      semantic_commit_type:
        required: false
        type: string
        default: "chore"
      semantic_commit_scope:
        required: false
        type: string
        default: "dev-tools"
    secrets:
      app_id:
        required: true
      app_private_key:
        required: true

env:
  # renovate: datasource=github-releases depName=aquaproj/aqua
  AQUA_VERSION: "2.56.6"

jobs:
  update-aqua-checksums:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
    - name: Generate github app token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
      id: app-token
      with:
        app-id: ${{ secrets.app_id }}
        private-key: ${{ secrets.app_private_key }}
        owner: ${{ github.repository_owner }}

    - name: Setup repository and tools
      uses: ppat/homelab-ops-actions/actions/setup-repository-tools@4cef70063350f88a21483c0b7b8b6c5c41eedd3e # v1.0.3
      with:
        current_fetch_depth: 0
        current_git_ref: ${{ inputs.git_ref }}
        current_repository: ${{ github.repository }}
        mise_ignore_cfg: ${{ inputs.mise_ignore_cfg }}
        mise_log_level: ${{ inputs.mise_log_level }}
        token: ${{ steps.app-token.outputs.token }}
        mise_toml: |
          [tools]
          aqua = "${{ env.AQUA_VERSION }}"

    - name: Update aqua-checksums.json
      env:
        AQUA_DIRS: ${{ inputs.aqua_dirs }}
        AQUA_GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        PRUNE: "${{ inputs.prune && '-prune' || '' }}"
      shell: bash
      working-directory: ./current
      # yamllint disable-line rule:indentation
      run: |
        DIR_LIST=$(mktemp)
        if [[ "${AQUA_DIRS}" == "ALL" ]]; then
          find . -type f -name aqua.yaml -exec dirname {} \; | sort | uniq > ${DIR_LIST}
        else
          echo ${AQUA_DIRS} | tr ' ' '\n' > ${DIR_LIST}
        fi

        echo "Updating checksums..."
        while IFS= read -r dir; do
          echo "${dir}"
          pushd "${dir}" > /dev/null 2>&1
          aqua update-checksum ${PRUNE} 2>&1 | pr -t -o 4
          popd > /dev/null 2>&1
          echo
        done < ${DIR_LIST} | pr -t -o 4

        echo "Staging changes..."
        git add -A
        git status

    - name: Commit and push updated checksums
      uses: ppat/homelab-ops-actions/actions/create-signed-commit@4cef70063350f88a21483c0b7b8b6c5c41eedd3e # v1.0.3
      with:
        branch: ${{ inputs.git_ref }}
        commit_message: "${{ inputs.semantic_commit_type }}(${{ inputs.semantic_commit_scope }}): update aqua checksums"
        repository: ${{ github.repository }}
        token: ${{ steps.app-token.outputs.token }}
        working_directory:  ./current
